
    
{% extends 'base.html' %}
{% load static %}
{% block title%} <title>Application pdf</title>{% endblock %}

{% block content %}
    
    <section class="breadcrumb-section text-white d-flex align-items-center" 
            style="background-image: url('{% static "assets/images/mwala_img3.jpg" %}'); height: 200px; background-size: cover; background-position: center;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="breadcrumb__text">
                    <h1 class="display-4 fw-bold mb-3">Mwala TVC Application Form</h1>
                    <nav class="breadcrumb d-inline-flex bg-transparent p-0">
                        <a href="{% url 'mwala_app:index' %}" class="breadcrumb-item text-danger">Home</a>
                        <a href="{% url 'mwala_app:index' %}" class="breadcrumb-item text-danger">Application Form</a>
                        <span class="breadcrumb-item active text-success">Application Form</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
    <section>
        <div><p style=" text-align: center; font-weight: 700;margin-top: 40px; color: #0098DB; font-size: 1.2rem;">Mwala Technical And Vocational Collage Application Form.</p></div>
        <div class="container mt-5">
            <div class="row justify-content-center align-items-center" style="min-height: 20vh;">
                <div class="col-md-8">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <h2 class="text-center mb-4">Application Form</h2>
        
                            {% if application_file_url %}
                                <p class="text-danger-files text-center">Click below to download the uploaded application form:</p>
                                <div class="d-flex justify-content-center">
                                    <a href="{{ application_file_url }}" target="_blank" class="btn btn-primary btn-lg">
                                        <i class="fas fa-download"></i> Download Application Form
                                    </a>
                                </div>
                            {% else %}
                                <div class="alert alert-warning text-center" role="alert">
                                    <strong>Oops!</strong> No application form uploaded yet. Please check back later.
                                </div>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <a href="https://wa.me/254796536524" class="whatsapp-icon" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
    </a>
    
 
{% endblock %}
