
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   {% block title %} <title>Mwala TVC</title> {% endblock %}
   <link href="{% static 'assets\dashboard_assets\img\mwala_logo.jpg' %}" rel="apple-touch-icon">
   <link href="{% static 'assets\dashboard_assets\img\mwala_logo.jpg' %}" rel="icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets\images\css\main1.css' %}">
    
    <!-- AOS CSS -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


  <!-- Lightbox CSS -->
<link href="https://cdn.jsdelivr.net/npm/lightbox2@2/dist/css/lightbox.min.css" rel="stylesheet">
<!-- Lightbox JS -->
<script src="https://cdn.jsdelivr.net/npm/lightbox2@2/dist/js/lightbox.min.js"></script>

    
    <link rel="stylesheet" href="{% static 'assets\assets2\css\style.css' %}">
    <link rel="stylesheet" href="{% static 'assets\assets2\css\main-color.css' %}">
    <link rel="stylesheet" href="{% static 'assets\assets2\css\bootstrap.min.css' %}">

</head>
<body>
    {% include 'header.html' %}
   
    <main>
        {% block content %}
        
        
        {% endblock %}
    </main>
    {% include 'footer.html' %}
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center" ><i class="bi bi-arrow-up-short"></i></a>

    <!-- Include jQuery from Google CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'assets\images\js\main1.js' %}"></script>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>




    <script src="{% static 'assets\assets2\css\js\bootstrap.min.js' %}"></script>
    <!-- <script src="{% static 'assets\assets2\css\js\jquery.countdown.min.js' %}"></script> -->
    <!-- <script src="{% static 'assets\assets2\css\js\jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets\assets2\css\js\jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'assets\assets2\css\js\slick.min.js' %}"></script> -->
    <script src="{% static 'assets\assets2\css\js\biolife.framework.js' %}"></script>
    <script src="{% static 'assets\assets2\css\js\functions.js' %}"></script>
</body>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 800, // Optional: animation duration in ms
    once: true     // Optional: animation triggers once
  });
</script>

</html>