{% extends 'base.html' %}
{% load static %}
{% block title%} <title>Board of Governors</title>{% endblock %}

{% block content %}

<section class="breadcrumb-section text-white d-flex align-items-center" 
style="background-image: url('{% static "assets/images/mwala_img3.jpg" %}'); height: 300px; background-size: cover; background-position: center;">
<div class="container">
<div class="row justify-content-center">
    <div class="col-lg-8 text-center">
        <div class="breadcrumb__text">
            <h1 class="display-4 fw-bold mb-3">Board of Governors</h1>
            <nav class="breadcrumb d-inline-flex bg-transparent p-0">
                <a href="{% url 'mwala_app:index' %}" class="breadcrumb-item text-danger">Home</a>
                <a href="{% url 'mwala_app:index' %}" class="breadcrumb-item text-danger">Departments</a>
                <span class="breadcrumb-item active text-success">All Departments</span>
            </nav>
        </div>
    </div>
</div>
</div>
</section>

<div class="container my-5"data-aos="fade-up">
    <div class="card-header text-white rounded mb-3" style="background-color: #0098DB; border-bottom: 2px solid red;">
        <h2 class="text-center mb-0">Constitution of Board of Governors</h2>
    </div>
    <div class="row">
        <!-- Right Section Only -->
        <div class="col-md-12 mt-4 member-styles">
            <div class="member">
                <img src="{% static 'assets/images/chairman.png' %}" alt="Kioko Kilukumi">
                <div>
                    <h6>Chairman</h6>
                    <p>Mr. Kioko Kilukumi .SC</p>
                </div>
            </div>
            <div class="member">
                <img src="{% static 'assets/images/secretarybog.jpg' %}" alt="Principal/ Secretary, BOG">
                <div>
                    <h6>Chief Principal/ BOG, Secretary</h6>
                    <p>Mr. Kavita C. Kyuli</p>
                </div>
            </div>
            <div class="member">
                <img src="{% static 'assets/images/member_leadership.png' %}" alt="Loise W Wainaina">
                <div>
                    <h6>Chairperson Academic and Human Resource Affair Committee</h6>
                    <p>Mrs. Loise W Wainaina</p>
                </div>
            </div>
            <div class="member">
                <img src="{% static 'assets/images/incharge_finance.png' %}" alt="Eng. Lawrence Maungu">
                <div>
                    <h6>Chairperson Infrastructure and Finance Committee</h6>
                    <p>Mr. Eng. Lawrence Maungu</p>
                </div>
            </div>
            <div class="member">
                <img src="{% static 'assets/images/incharge_ict.png' %}" alt="Carolyne M. Mutua">
                <div>
                    <h6>Member, Audit & Risk Management, and Academic and Human Resource Affair Committee</h6>
                    <p>Mrs. Carolyne M. Mutua</p>
                </div>
            </div>
            <div class="member">
                <img src="{% static 'assets/images/incharge_engineering.jpg' %}" alt="Martin K Cheboror">
                <div>
                    <h6>Chairperson, Audit and Risk Management Committee</h6>
                    <p>Mr. Martin K Cheboror</p>
                </div>
            </div>
            <div class="member">
                <img src="{% static 'assets/images/technologybog.jpg' %}" alt="Patrick Kesonkoi">
                <div>
                    <h6>Member in Charge of Technology</h6>
                    <p>Mr. Patrick Kesonkoi</p>
                </div>
            </div>
            <div class="member">
                <img src="{% static 'assets/images/industrybog.png' %}" alt="Emilly Atambo">
                <div>
                    <h6>Member in Charge of Industry</h6>
                    <p>Mrs. Emilly Atambo</p>
                </div>
            </div>
            <div class="member">
                <img src="{% static 'assets/images/directorbog.png' %}" alt="Maryan Hassan">
                <div>
                    <h6>CD TVET</h6>
                    <p>Mrs. Maryan Hassan</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}