{% extends 'base.html' %}
{% load static %}
{% block title%} <title>Board of Governors</title>{% endblock %}

{% block content %}

<section class="breadcrumb-section text-white d-flex align-items-center" 
style="background-image: url('{% static "assets/images/mwala_img3.jpg" %}'); height: 300px; background-size: cover; background-position: center;">
<div class="container">
<div class="row justify-content-center">
    <div class="col-lg-8 text-center">
        <div class="breadcrumb__text">
            <h1 class="display-4 fw-bold mb-3">Board of Governors</h1>
            <nav class="breadcrumb d-inline-flex bg-transparent p-0">
                <a href="{% url 'mwala_app:index' %}" class="breadcrumb-item text-danger">Home</a>
                <a href="{% url 'mwala_app:index' %}" class="breadcrumb-item text-danger">Departments</a>
                <span class="breadcrumb-item active text-success">All Departments</span>
            </nav>
        </div>
    </div>
</div>
</div>
</section>

<div class="container my-5">
   
    <div class="card-header text-white rounded mb-3" style="background-color: #0098DB; border-bottom: 2px solid red;">
        <h2 class="text-center mb-0">Constitution of Board of Governors</h2>
    </div>
    <div class="row">
        <!-- Left Section -->
        <div class="col-md-9">
            <div class="container mt-4">
              
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th>S/No</th>
                                <th>Governor</th>
                                <th>Title</th>
                                <th>Responsibility</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td> Mr. Kioko Kilukumi .SC</td>
                                <td>Chairman</td>
                                <td>Chairing & Overseeing the Performance of The Board</td>
                                
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Mr. Kavita C. Kyuli</td>
                                <td>Principal/ Secretary, BOG</td>
                                <td>Providing Direction for Keeping of Legal Documents Including Minutes of All Board Meetings</td>
                                
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Mrs. Loise W. Wainaina</td>
                                <td>Chairperson Academic and Human Resource Affair Committee </td>
                                <td>Chair, Academic and Human Resource Committee & Member, Infrastructure and Finance Committee</td>
                                
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Mr. Eng. Lawrence Maungu</td>
                                <td>Chairperson Infrastructure and Finance Committee </td>
                                <td>Member, Infrastructure and Finance Committee</td>
                                
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Mrs. Carolyne M Mutua</td>
                                <td>Member, Audit & Risk Management, and  Academic and Human Resource Affair Committee</td>
                                <td>Member, Academic and Human Resource Committee & Audit and Risk Management Committee</td>
                                
                            </tr>
                            <tr>
                                <td>6</td>
                                <td> Mr. Martin K Cheboror

                                </td>
                                <td>Chairperson, Audit and Risk Management Committee </td>
                                <td>Chair, Audit and Risk Management Committee</td>
                                
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Mr. Patrick Kesonkoi

                                </td>
                                <td>Member in Charge of Technology </td>
                                <td>Member, Academic and Human Resource Committee & Audit and Risk Management Committee</td>
                                
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Mrs. Emilly Atambo

                                </td>
                                <td>Member in Charge of Industry</td>
                                <td>Member Infrastructure and Finance Committee</td>
                                
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Mrs. Maryan Hassan

                                </td>
                                <td>CD TVET</td>
                                <td>Director TVET- Nairobi Region</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p>Currently the Constitution of the council is as follows</p>
            <img src="{% static 'assets\images\mwala_bog.png' %}" alt="Mwala tvc" class="img-fluid w-100 mb-4" style="height:400px;">
        </div>
        <!-- Right Section -->
        <div class="col-md-3 mt-4">
            <div class="member">
                <img src="{% static  'assets\images\chairman.png'  %}" alt="Kioko Kilukumi">
                <div>
                    <h6>Chairman
                    </h6>
                    <p>Mr. Kioko Kilukumi .SC
                    </p>
                </div>
            </div>
            <div class="member">
                <img src="{% static  'assets\images\secretarybog.jpg'  %}" alt="Principal/ Secretary, BOG">
                <div>
                    <h6>Principal/ Secretary, BOG
                    </h6>
                    <p>Mr. Kavita C. Kyuli
                    </p>
                </div>
            </div>

            <div class="member">
                <img src="{% static 'assets\images\member_leadership.png' %}" alt="Loise W Wainaina">
                <div>
                    <h6>Chairperson Academic and Human Resource Affair Committee </h6>
                    <p> Mrs. Loise W Wainaina
                    </p>
                </div>
            </div>
            <div class="member">
                <img src="{% static  'assets\images\incharge_finance.png'  %}" alt="Eng. Lawrence Maungu">
                <div>
                    <h6>Chairperson Infrastructure and Finance Committee </h6>
                    <p>Mr. Eng. Lawrence Maungu</p>
                </div>
            </div>
            <div class="member">
                <img src="{% static  'assets\images\incharge_ict.png'  %}" alt="Alice Mutai">
                <div>
                    <h6>Member, Audit & Risk Management, and  Academic and Human Resource Affair Committee</h6>
                    <p>Mrs. Carolyne M Mutua</p>
                </div>
            </div>
            <div class="member">
                <img src="{% static  'assets\images\incharge_engineering.jpg'  %}" alt="Martin K Cheboror">
                <div>
                    <h6>Chairperson, Audit and Risk Management Committee </h6>
                    <p>Mr. Martin K Cheboror</p>
                </div>
            </div>
            <div class="member">
                <img src="{% static  'assets\images\technologybog.jpg'  %}" alt="Patrick Kesonkoi">
                <div>
                    <h6>Member in Charge of Technology</h6>
                    <p>Mr. Patrick Kesonkoi</p>
                </div>
            </div>
            <div class="member">
                <img src="{% static  'assets\images\industrybog.png'  %}" alt=" Emilly Atambo">
                <div>
                    <h6>Member in Charge of Industry </h6>
                    <p>Mrs. Emilly Atambo</p>
                </div>
            </div>
            <div class="member">
                <img src="{% static  'assets\images\directorbog.png'  %}" alt="Mrs. Maryan Hassan">
                <div>
                    <h6>CD TVET</h6>
                    <p>Mrs. Maryan Hassan</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}