{% extends 'base.html' %}
{% load static %}
{% block title%} <title>Board Of Governors</title>{% endblock %}

{% block content %}

<section class="breadcrumb-section text-white d-flex align-items-center" 
style="background-image: url('{% static "assets/images/mwala_img3.jpg" %}'); height: 300px; background-size: cover; background-position: center;">
<div class="container">
<div class="row justify-content-center">
    <div class="col-lg-8 text-center">
        <div class="breadcrumb__text">
            <h1 class="display-4 fw-bold mb-3">Board Of Governors</h1>
            <nav class="breadcrumb d-inline-flex bg-transparent p-0">
                <a href="{% url 'mwala_app:index' %}" class="breadcrumb-item text-danger">Home</a>
                <a href="{% url 'mwala_app:index' %}" class="breadcrumb-item text-danger">Departments</a>
                <span class="breadcrumb-item active text-success">All Departments</span>
            </nav>
        </div>
    </div>
</div>
</div>
</section>

<div class="container my-5">
   
    <div class="card-header text-white rounded mb-3" style="background-color: #0098DB; border-bottom: 2px solid red;">
        <h2 class="text-center mb-0">Constitution of Board Of Governors</h2>
    </div>
    <div class="row">
        <!-- Left Section -->
        <div class="col-md-9">
            <div class="container mt-4">
              
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th>S/No</th>
                                <th>Governor</th>
                                <th>Title</th>
                                <th>Responsibility</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>SC. Kioko Kilukumi</td>
                                <td>Chairman</td>
                                <td>Chairing & Overseeing the Performance of The Board</td>
                                
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Mr. Kavita C. Kyuli</td>
                                <td>Board Of Governors Secretary/Chief Executive Officer</td>
                                <td>The Principal Secretary, the State Department for TVET or designated representative.</td>
                                
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Loise W. Wainaina</td>
                                <td>Member in Charge of Leadership</td>
                                <td>Chair, Academic and Human Resource Committee & Member, Infrastructure and Finance Committee</td>
                                
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Eng. Lawrence Maungu</td>
                                <td>Member in Charge of Finance</td>
                                <td>Member, Infrastructure and Finance Committee</td>
                                
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Carolyne M Mutua</td>
                                <td>Member in Charge of ICT</td>
                                <td>Member, Academic and Human Resource Committee & Audit and Risk Management Committee</td>
                                
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Martin K Cheboror

                                </td>
                                <td>Member in Charge of Engineering</td>
                                <td>Chair, Audit and Risk Management Committee</td>
                                
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>none</td>
                                <td>Representative</td>
                                <td>Nominated representative.</td>
                                
                            </tr>
                           
                           
                        </tbody>
                    </table>
                </div>
            </div>
            <p>Currently the Constitution of the council is as follows</p>
            <img src="{% static 'assets\images\mwala_bog.png' %}" alt="Mwala tvc" class="img-fluid w-100 mb-4" style="height:350px;">
        </div>
        <!-- Right Section -->
        <div class="col-md-3 mt-4">
            <div class="member">
                <img src="{% static  'assets\images\chairman.png'  %}" alt="Kioko Kilukumi">
                <div>
                    <h6>Chairman
                    </h6>
                    <p>SC. Kioko Kilukumi
                    </p>
                </div>
            </div>
            <div class="member">
                <img src="{% static  'assets\images\kavita.jpg'  %}" alt="Chief Executive Officer">
                <div>
                    <h6>Board Of Governors Secretary/Chief Executive Officer
                    </h6>
                    <p>Mr. Kavita C. Kyuli
                    </p>
                </div>
            </div>

            <div class="member">
                <img src="{% static 'assets\images\member_leadership.png' %}" alt="Loise W Wainaina">
                <div>
                    <h6>Member in Charge of Leadership</h6>
                    <p>Loise W Wainaina
                    </p>
                </div>
            </div>
            <div class="member">
                <img src="{% static  'assets\images\incharge_finance.png'  %}" alt="Eng. Lawrence Maungu">
                <div>
                    <h6>Member in Charge of Finance</h6>
                    <p>Eng. Lawrence Maungu</p>
                </div>
            </div>
            <div class="member">
                <img src="{% static  'assets\images\incharge_ict.png'  %}" alt="Alice Mutai">
                <div>
                    <h6>Member in Charge of ICT</h6>
                    <p>Carolyne M Mutua</p>
                </div>
            </div>
            <div class="member">
                <img src="{% static  'assets\images\incharge_engineering.jpg'  %}" alt="Martin K Cheboror">
                <div>
                    <h6>Member in Charge of Engineering</h6>
                    <p>Martin K Cheboror</p>
                </div>
            </div>
            <div class="member">
                <img src="{% static  'assets\images\default_img.jpeg'  %}" alt="Mr. John O. Sengeny">
                <div>
                    <h6>Member</h6>
                    <p>Unknown</p>
                </div>
            </div>
           
        </div>
    </div>
</div>
{% endblock %}