

{% extends 'base.html' %}
{% load static %}
{% block title%} <title>Countact Us</title>{% endblock %}

{% block content %}

    
        <div class="row" data-aos="fade-up" >
          <div class="col-md-6  p-4 border rounded shadow-sm">
            <h2 class="text-danger" style="font-size: 1.1rem;">Contact Information</h2>
            <div class="contact-info">
              <p>
                <span class="icon"><i class="fas fa-phone"></i></span>
                <strong >Contact Telephone:</strong> 0796536524
              </p>
              <p>
                <span class="icon"><i class="fas fa-envelope"></i></span>
                <strong>Email Address:</strong> mwalatvc@gmail.com
              </p>
              <p>
                <span class="icon"><i class="fas fa-address-card"></i></span>
                <strong>Postal Address:</strong> P.O. Box 07 – 90102, Mwala-Machakos
              </p>
              <p>
                <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                <strong>Physical Address:</strong> Mwala
              </p>
            </div>
          </div>
          <div class="col-md-6 p-4 border rounded shadow-sm">
            <h3 class="text-danger"style="font-size: 1.1rem;">Contact Form</h3>
            {% if messages %}
            <div id="message-alert" class="alert alert-success" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
          {% endif %}
            <form method="post" class="form-container">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-submit w-100 btn-primary">Submit</button>
            </form>
          </div>
        </div>

      </div>
{% endblock %}
 