
{% load static %}


<header class="bg-light">
    <div class="main-nav d-flex justify-content-between align-items-center flex-wrap w-100">
        
        <!-- Contact Information -->
        <div class="contact-info d-flex align-items-center">
            <a href="tel:+254712345678" class="text-white me-4">
                <i class="fas fa-phone-alt me-2"></i> +254 796536524
            </a>
            <a href="mailto:mwalatvc@gmail.com" class="text-white">
                <i class="fas fa-envelope me-2"></i> mwalatvc@gmail.com
            </a>
        </div>

        <!-- Navigation Links -->
        <nav class="nav-links">
            <a href="{% url 'mwala_app:allCourses' %}">Our Courses</a>
            <a href="{% url 'mwala_app:onlineApplication' %}">MAY 2025 INTAKE</a>
            <a href="{% url 'mwala_app:onlineApplication' %}" class="btn btn-danger move" style="font-size: 10px; color: white; background-color: #0D6D35; text-align: center; margin:5px; ">Apply Now</a>
            <a href="https://students.kuccps.net/login/">KUCCPS</a>
            <a href="https://portal.hef.co.ke/auth/signin" class="special-link">HELB Portal</a>
        </nav>

        <!-- Search Form -->
        <div class="nav-item-search d-flex align-items-center">
            <button id="searchToggle" class="btn btn-link p-0 me-2">
                <i class="fas fa-search" style="color:#0D6D35;"></i>
            </button>
            <form action="{% url 'mwala_app:allCourses' %}" method="get">
                <input type="text" name="q" id="searchInput" class="form-control search-input me-2" placeholder="Search for a Course" value="{{ query|default:'' }}">
            </form>
        </div>

    </div>
</header>


<header id="header" class="header-area style-01 layout-03 sticky-top">
        <div class="header-middle biolife-sticky-object py-1"></div>
        <div class="container-fluid py-3">
                <div class="row align-items-center justify-content-between flex-wrap w-100">
                   <div class="col-12 col-sm-6 col-md-4 col-lg-2">
  <div class="d-flex justify-content-between align-items-center w-100">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center text-decoration-none" href="{% url 'mwala_app:index' %}" data-aos="fade-right">
      <img src="{% static 'assets/images/mwala_logo.jpg' %}" alt="Mwala Logo" height="75" width="75" class="me-2">
      <span class="d-block" style="color: #0098DB; font-size: 16px; line-height: 1.3; font-weight: bold;">
        Mwala Technical &<br>Vocational College
      </span>
    </a>

    <!-- Hamburger Menu Icon -->
    <div class="mobile-menu-toggle d-lg-none ms-auto">
      <a class="btn-toggle" data-object="open-mobile-menu" href="javascript:void(0)">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
  </div>
</div>


                    <div class="col-lg-10 col-md-9 d-none d-md-block text-end">
                        <div class="primary-menu">
                        <ul class="menu biolife-menu clone-main-menu clone-primary-menu" id="primary-menu" data-menuname="main menu">
                            <li class="menu-item"><a href="{% url 'mwala_app:index' %}">Home</a></li>
                            <li class="menu-item menu-item-has-children has-megamenu">
                                <a href="#" class="menu-name" data-title="About Us" >About Us</a>
                                <div class="wrap-megamenu lg-width-900 md-width-750">
                                    <div class="mega-content">
                                        <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                            <div class="wrap-custom-menu vertical-menu">
                                                <h4 class="menu-title">General Information</h4>
                                                <ul class="menu">
                                                    <li><a href="{% url 'mwala_app:history' %}">Our History</a></li>
                                                   <li> <a href="{% url 'mwala_app:serviceCharter' %}">Service Charter</a></li>
                                                   <li><a href="{% url 'mwala_app:Brochure' %}">Mwala TVC Brochures</a></li>
                                                   <li><a href="{% url 'mwala_app:gallery' %}">Gallery</a></li>
                                                   <li><a href="{% url 'mwala_app:contactUs' %}">Contact Us</a></li>
                                                   <li><a href="{% url 'mwala_app:feedBack' %}">Complaints & <br> Feedback</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                            <div class="wrap-custom-menu vertical-menu">
                                                <h4 class="menu-title">Adminstrators</h4>
                                                <ul class="menu">
                                                    <li><a href="{% url 'mwala_app:bog' %}"> Board of Governors </a></li>
                                                    <li><a href="{% url 'mwala_app:principal_detail' %}"> Office of Principal </a></li>
                                                    {% for admin in administrators %}
                                                    {% if admin.position != "Office of Principal" %}
                                                        <li><a href="{% url 'mwala_app:adminstrationDetails' admin.id %}">
                                                            {{ admin.position }}
                                                        </a></li>
                                                    {% endif %}
                                                {% endfor %}
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                            <div class="wrap-custom-menu vertical-menu ">
                                               <h4 class="menu-title">Academic Departments</h4>
                                                <ul class="menu">
                                                    {% for department in departments %}
                                                        <li><a href="{% url 'mwala_app:department_details' department_id=department.id %}">
                                                            {{ department.title }}
                                                        </a></li>
                                                    {% empty %}
                                                    <li><a class="menu-title" href="#">No departments available</a></li> 
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                            <div class="wrap-custom-menu vertical-menu">
                                               <h4 class="menu-title">Non Academic Departments</h4>
                                                <ul class="menu">
                                                      {% for supporting_department in supporting_departments %}
                                                    <li><a 
                                                    href="{% url 'mwala_app:support_department' support_department_id=supporting_department.id %}">
                                                        {{ supporting_department.title }}
                                                    </a></li>
                                                {% empty %}
                                                    <li><a href="#">No departments available</a></li>
                                                {% endfor %}
                                                
                                                {% for student_affair in all_student_affairs %}
                                                    <li><a href="{% url 'mwala_app:studentAffairs' student_affairs_id=student_affair.id %}">
                                                        {{ student_affair.title }}
                                                    </a></li>
                                                {% empty %}
                                                    <span></span>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                           <li class="menu-item menu-item-has-children has-megamenu">
                                <a href="#" class="menu-name" data-title="Applicants & Students">Applicants & Students</a>
                                <div class="wrap-megamenu lg-width-800 md-width-750">
                                    <div class="mega-content">
                                        <div class="col-lg-4 col-md-4 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                            <div class="wrap-custom-menu vertical-menu">
                                                <h4 class="menu-title">Prospective Students</h4>
                                                <ul class="menu">
                                                    <li> <a  href="{% url 'mwala_app:applicationForm' %}">Application Procedure</a></li>
                                                    <li><a  href="{% url 'mwala_app:onlineApplication' %}">Online Registration</a></li>
                                                    <li><a  href="{% url 'mwala_app:feeStructure' %}">Fee Structure</a></li>
                                                    <li><a  href="{% url 'mwala_app:applicationPdf' %}">Student Registration Form</a></li>
                                                    <li><a  href="{% url 'mwala_app:govnt_scholar' %}">Government Scholarship</a></li>
                                                    <li><a href="{% url 'mwala_app:onlineApplication' %}">Join Us</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                            <div class="wrap-custom-menu vertical-menu">
                                                <h4 class="menu-title">Current Students</h4>
                                                <ul class="menu">
                                                    <li><a  href="{% url 'mwala_app:all_notices' %}">Students Rules And Regulations</aCurrent Students></li>
                                                    <li><a  href="{% url 'mwala_app:examinations' %}">Examinations</a></li>
                                                    <li><a  href="{% url 'mwala_app:courseTransferForm' %}">Course Transfer Form</a></li>
                                                    <li><a href="{% url 'mwala_app:clearanceForm' %}">Clearance Form</a></li>
                                                    <li><a  href="{% url 'mwala_app:feeRefundForm' %}">Fee Refund Form</a></li>
                                                    <li><a href="#">Apply For Graduation</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                            <div class="wrap-custom-menu vertical-menu">
                                                <h4 class="menu-title">Important Links</h4>
                                                <ul class="menu">
                                                    <li> <a  href="https://portal.hef.co.ke/auth/signin">HELB Student Portal</a></li>
                                                    <li><a  href="https://students.kuccps.net/login/">KUCCPS Student Portal</a></li>
                                                    <li><a href="{% url 'mwala_app:allCourses' %}">Our Courses</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                    <li class="menu-item"><a href="{% url 'mwala_app:mwalaServices' %}">Services</a></li>
                        <li class="menu-item menu-item-has-children has-megamenu">
                        <a href="#" class="menu-name" data-title="News & Resources">News & Resources</a>
                        <div class="wrap-megamenu lg-width-800 md-width-750">
                            <div class="mega-content">
                                <div class="col-lg-4 col-md-4 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                    <div class="wrap-custom-menu vertical-menu">
                                        <h4 class="menu-title">Government Resources</h4>
                                        <ul class="menu">
                                            <li><a href="#">Executive Orders</a></li>
                                            <li><a href="#">Legal Orders</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                    <div class="wrap-custom-menu vertical-menu">
                                        <h4 class="menu-title">Downloadable Resources</h4>
                                        <ul class="menu">
                                            <li><a href="{% url 'mwala_app:serviceCharter' %}">Service Charter</a></li>
                                            <li><a href="#">TVET Dean Resources</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                    <div class="wrap-custom-menu vertical-menu">
                                        <h4 class="menu-title">Notice Board</h4>
                                        <ul class="menu">
                                           <li><a href="{% url 'mwala_app:newsEvents' %}">News & Events</a></li>
                                           <li><a href="#">Research & Publications</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </li>
                    <li class="menu-item menu-item-has-children has-megamenu">
                        <a href="#" class="menu-name" data-title="Downloads">Downloads</a>
                        <div class="wrap-megamenu lg-width-800 md-width-750">
                            <div class="mega-content">
                                <div class="col-lg-4 col-md-4 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                    <div class="wrap-custom-menu vertical-menu">
                                        <h4 class="menu-title">Tenders</h4>
                                        <ul class="menu">
                                        <li><a href="{% url 'mwala_app:tenders' %}"> All Mwala TVC Tenders</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                    <div class="wrap-custom-menu vertical-menu">
                                        <h4 class="menu-title">Jobs & Vacancies</h4>
                                        <ul class="menu">
                                           <li><a href="{% url 'mwala_app:JobsVacancies' %}">All Mwala TVC Jobs & Vacancies</a></li>
                                              
                                        
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                    <div class="wrap-custom-menu vertical-menu">
                                        <h4 class="menu-title">Students Downloads</h4>
                                        <ul class="menu">
                                            <li><a href="{% url 'mwala_app:all_notices' %}">Students Rules & Regulations</a></li>
                                            <li><a href="{% url 'mwala_app:feeStructure' %}">Fee Structure</a></li>
                                            <li><a href="{% url 'mwala_app:applicationPdf' %}">Student Registration Form</a></li>
                                            <li><a href="{% url 'mwala_app:all_notices' %}">All Forms</a></li>
                                        
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    
                        </ul>
                    </div>
                    
                    </div>

                   
            </div>
        </div>
</header>


<header>
    

    <div class="breaking-news"> 
        <span>HIGHLIGHTS:</span>
        <marquee behavior="scroll" direction="left" scrollamount="8"> 
           
            {% for news_item in breaking_news %}
               <a href="{% url 'mwala_app:newsEvents' %}" class="text-decoration-none text-danger" >{{ news_item.title }} ( {{ news_item.date }}) |</a> 
            {% endfor %}
        </marquee>  
    </div>
    

</header>