








{% extends 'base.html' %}
{% load static %}
{% block title%} <title>Online Application</title>{% endblock %}

{% block content %}
    
    <section class="breadcrumb-section text-white d-flex align-items-center" 
            style="background-image: url('{% static "assets/images/mwala_img3.jpg" %}'); height: 200px;backgroundsize: cover; background-position: center;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="breadcrumb__text">
                        <h1 class="display-8 fw-bold mb-3 ">Mwala TVC Online Application Form </h1>
                        <nav class="breadcrumb d-inline-flex bg-transparent p-0">
                            <a href="{% url 'mwala_app:index' %}" class="breadcrumb-item text-danger">Home</a>
                            <a href="{% url 'mwala_app:index' %}" class="breadcrumb-item text-danger">Application Form</a>
                            <span class="breadcrumb-item active text-success">All Departments</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <!-- templates/admission_form.html -->
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white text-center" style="border-top: 2px solid red;">
            <h3>MWALA TECHNICAL STUDENTS ADMISSION APPLICATION FORM</h3>
        </div>
        <div class="card-body">
            {% if messages %}
                <div id="message-alert" class="alert alert-success">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
                </div>
            {% endif %}
            <p class="text-center">You can apply for a diploma or a certificate course. The College does not charge any fee for admission application forms.</p>
            <p class="text-danger text-center">Please note that fields marked with <span class="text-danger">*</span> are mandatory</p>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            
        </div>
    </div>
</div>


    <a href="https://wa.me/1234567890" class="whatsapp-icon" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
    </a>
 
{% endblock %}